# Dependencies
node_modules/
.pnp
.pnp.js

# Simulator Binaries
simulator/build/
simulator/data_output/
*.o
*.d
simulator/simulator
simulator/simulator_debug

# Logs and Data
*.log
*.csv
*.json
!package.json
!package-lock.json
!tsconfig.json
!simulator/data_input/*.json

# Python
__pycache__/
*.pyc

# Frontend built artifacts
frontend/dist/
frontend/.vite/
frontend/node_modules/

# OS specific
.DS_Store
Thumbs.db